html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0 20px;
}

.boxes {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    gap: 20px;
}

.box {
    flex: 1;
    min-width: 0;
}

.code {
    font-family: monospace, monospace;
    font-size: 13px;
    border: 1px solid gray;
    padding: 10px;
}

#output {
    margin: 0;
    overflow: auto;
}

#hocon {
    resize: vertical;
    min-height: 350px;

    /*
    we must use <textarea> rather than <pre> to force plaintext-only.
    this section makes <textarea> like <pre>.
     */
    display: block; /* https://stackoverflow.com/a/3454002/10361574 */
    white-space: pre;
    width: 100%;
}

h1, h2, h3 {
    margin-bottom: 3px;
}

p {
    margin: 3px;
}

.footer {
    text-align: center;
}
