@()

@main("HOCON Playground") {
    <div class="boxes">
        <div class="box">
            <h2>HOCON</h2>
            <pre id="hocon" class="code" contenteditable spellcheck="false">@* @formatter:off *@HOCON = Human-Optimized Config Object Notation

"it's": "a JSON superset",

features: [
less noisy/less pedantic syntax
ability to refer to another part of the configuration
import/include another configuration file into the current file
a mapping to a flat properties list such as Java's system properties
ability to get values from environment variables
# ability to write comments
]

specs url: "https://github.com/lightbend/config/blob/master/HOCON.md"

it's: ${it's}. A ${HOCON}

Try it out: conf is parsed online as you type@* @formatter:on *@</pre>
            <h3>Options</h3>
            <input type="checkbox" id="resolve" name="resolve" checked><label for="resolve">resolve references</label><br>
            <input type="checkbox" id="json" name="json" checked><label for="json">JSON</label><br>
            <input type="checkbox" id="formatted" name="formatted" checked><label for="formatted">formatted</label><br>
            <input type="checkbox" id="comments" name="comments" checked><label for="comments">comments</label><br>
            <input type="checkbox" id="originComments" name="originComments"><label for="originComments">origin comments</label><br>
        </div>
        <div class="box">
            <h2>Output</h2>
            <pre id="output" class="code"></pre>
        </div>
    </div>
    <div class="footer">
        <h1>HOCON Playground</h1>
        <p>Source: <a href="https://github.com/TehBrian/hocon-playground">github.com/TehBrian/hocon-playground</a></p>
    </div>
}
